*{
    box-sizing: border-box;
}	  

body, html{
    height: 100%;
	width:100%;
	padding:0;
	margin:0;
}

ul, li {
    padding:0;
    margin: 0;
	list-style: none;
}	  

h1, h2, h3, h4, h5, h6{
      margin: 0;
	} 
	
p {
	padding:0;
    margin: 0;
	} 
	
label {
	cursor:default;
}
	
.wrapper{
	width:100%;
	min-height:100%;
	position:relative;
	overflow:hidden;
	display:flex;
	flex-direction:column;


}
.header{
	display:flex;
	align-items:center;
	padding: 33px 0;
	background-color: #eebef1;

}
.container{
	width:100%;
	max-width:1180px;
	margin:0 auto;
	height:100%;

	}

.header__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
	

}
.logo{
	height:80px;
	display:flex;
	align-items:center;
	border:2px solid #ffc08a;
	box-shadow: 4px 4px 8px 8px rgba(34, 60, 80, 0.2);
	border-radius: 10px;
	background-color:white;
}
.logo_link{
	text-decoration:none;
	color:black;
	display:flex;
	height:100%;
	align-items:center;
}
.logo__img{
	height:60px;
	width:60px;
	
}
.logo__img-wrap{
	height:80px;
	width:80px;
	justify-content:center;
	align-items:center;
	display:flex;
	}
.logo__title{
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
	margin-right:7px;
}

.nav{
	width:400px;
	display:flex;
	align-items:center;
	padding:5px;
	justify-content: center;
}
.nav__list{
	display:flex;

}

.nav__link{
	text-decoration:none;
	color:black;
}
.nav__item{
	margin-right:15px;
	margin-left:15px;
	font-size:18px;
	font-style: normal;
   font-weight: bold;
}
.nav__item:hover{
	background-color:#fcf9f2;
	text-decoration:underline;
}
.contact{
    margin: 0px 10px;
}
.contact__tel{
	color:black;
	text-decoration:none;
	font-size:20px;
	font-style: normal;
   font-weight: bold;
}
.contact__address{
	font-size:14px;
	font-style: normal;
}
.basket{
	display:flex;
	align-items:center;
	justify-content:space-between;
	width:150px;
	box-shadow: 1px 1px 4px 4px rgba(34, 60, 80, 0.2);
	border-radius:50px;
	padding-right:15px;
	margin-right: 10px;
    margin-left: 5px;
	background-color:white;
}
.bascet__link{
	text-decoration:none;
	border:2px solid black;
	width:50px;
	height:50px;
	display: flex;
    justify-content: center;
    align-items: center;
	border-radius:50px;
	background-color:#ccccff
	}
.bascet__img{
	width:30px;
	height:30px;
}
.basket__price-screen{
	padding-left:2px;

	align-items:center;
	display:flex;
	font-size:15px;
	font-style: normal;
   font-weight: bold;
}
.basket__triangle{
	margin-left:2px;
	width:0;
	height:0;
	padding:0;
	bottom:0;
	cursor:pointer;
	border-left:5.81px solid transparent;
	border-right: 5.81px solid transparent;
	border-top: 11.62px solid #A4A4A4;
	border-bottom: 0 solid transparent;
    background-color: transparent;
}
.main{
margin-top:30px;
 flex: 1 1 auto;

}
.hero {
	height: 573px;
    
}
.container_background{
	  position: relative;
	  height:100%;
	  width:100%;
	  
}
.container_background:before{
	content:"";
	position:absolute;
	right:50%;
	top:0;
	width:100vw;
	z-index:-10;
	height:100%;
	margin-right:15px;
	border-radius: 0px 500px 500px 0px;
	display: flex;
    align-items: center;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.25);
}
.hero__pic{
	position: absolute;
    height: 100%;
    left: 50%;
    width: 100%;
    border-radius: 500px 0 0 500px;
    box-shadow: -4px 4px 15px rgba(0, 0, 0, 0.25);
    object-fit: cover;
    margin-left: 15px;
	z-index: -10;
}
.container__title {
	position:relative;
    display: flex;
    align-items: center;
}	
.hero__body{
	width:50%;
}
.hero__title{
	font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    color: #000000;
}	
.hero__info{
	margin: 31px 0px;	
	font-size: 20px;
}	
.button__catalog__link{
	display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 256px;
    height: 48px;
    font-weight: bold;
    font-size: 14px;
    background: #ccccff;
    color: #000000;
    border-radius: 50px;
    -webkit-border-radius: 50px;
	cursor:pointer;
	z-index:1;
}	
	.hero__dots{
		width:92px;
		position:absolute;
		bottom:37px;
		left: 850px;
	}
	.hero__dots-list{
		display:flex;
		justify-content:space-between;
	}
	.hero__dot{
		width:12px;
		height:12px;
		background-color:#F2EFEF;
		    cursor: pointer;
			border-radius:50%;
	}
	.hero__dot:hover{
		background-color:#ffbf42;
	}
	
	
	
	
	.product{
		padding-top: 42px;
        padding-bottom: 68px;
	}
	.product__title{
		display:flex;
		flex-direction: column;
        margin-bottom: 28px;
		margin-top: 28px;
	}
	
	.work__title{
	font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    color: #000000;
	}
	
	.subtitle{
	font-weight: 600;
    line-height: 131.19%;
	}
			
	
	.product__list{
		min-height:478px;
		display:flex;
		justify-content:center;
		padding:0 50px;
	}
	
	.product__item{
		width:319px;
		height:100%;
		flex-direction:column;
		padding:10px 33px 10px 33px;
		margin-right: 56px;
        margin-bottom: 68px;
		box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.13);
		background-color:white;
		
	}
	.product__item:last-child {
    margin-right: 0;
    }
	.product__img-wrap{
		width:100%;
		height:301px;
		
	}
	
	.product__img{
		object-fit: contain;
        height: 100%;
        width: 100%;
		
	    box-shadow: 0 0 1px 1px white inset;
      
	}
	.product__name{
		font-weight: bold;
        font-size: 18px;
	    min-height: 70px;
		margin-top: 10px;
	}


    .product__desc{
    font-weight: 300;
    line-height: 131.19%;
	margin: 15px 0px;
	min-height: 90px;
	}

   .product__footer{
    display: flex;
    justify-content: space-between;
    }
	
	.product__price{
	font-weight: bold;
    font-size: 18px;
    line-height: 131.19%;
	}
	
	.product__check{
		font-style:normal;
		font-weight:bold;
		font-size:14px;
		line-height: 131.19%;
		padding:9px 17px;
		border-radius:50px;
	    background-color: #ccccff;
		border-style: none;
		cursor: pointer;
		text-transform: none;
		overflow: visible;
	}
	
	.product__slider{
		position: relative;
	}
	
	.product__slider-control{
		display:flex;
	}
	
	.product__slider-link{
		display:flex;
		align-items:center;
		justify-content:center;
		width:57px;
		height:57px;
		background-color: #ececec;
		border-radius: 50%;
		position: absolute;
	}
	
	.product__slider-link--left{
		left:-28px;
		top:40%;
		transform: translateY(-50%);
	}
	
	.product__slider-link--right {
		right:-28px;
		top:40%;
		transform: translateY(-50%) rotate(180deg);
		-webkit-transform: translateY(-50%) rotate(180de)
	}
	
	


	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	








